body, h1, h2, p, ul, li {
    margin: 0px;
    padding: 0;
}
  
  body {
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: Arial, sans-serif;
   
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color:white;
    font-family: cursive; /* Set the font-family to cursive */
   
  }
  