/* BirthdayForm.css */
.unique-birthday-form-container {
  max-width: 400px;
  margin: 0 auto;
  padding: 20px;
  border: none;
  border-radius: 5px;
  /*box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);*/
  font-family: Arial, sans-serif;
  background-color:white;
}

.unique-form-group {
  margin-bottom: 20px;
}

label {
  display: block;
  margin-bottom: 5px;
  font-weight: bold;
}

.birthdayForm input[type='text'],
.birthdayForm input[type='date'],
.birthdayForm input[type='email'],
.birthdayForm input[type='tel'],
.birthdayForm input[type='time'],
.birthdayForm input[type='number'],
select,
textarea {
  width: 95%;
  padding: 10px;
  border: 1px solid black;
  border-radius: 3px;
}

.error {
  border-color: #ff0000;
}

.error-text {
  color: #ff0000;
  font-size: 12px;
}

.unique-radio-label {
  display: inline-block;
  margin-right: 10px;
}

.bbform{
  background-color: orangered;
  color: #fff;
  padding: 10px 20px;
  border: none;
  border-radius: 3px;
  cursor: pointer;
}

.bbform:hover {
  background-color: green;
}
.ccc
{
  margin-left: 70px;
}
