/* contact.css */
.contact-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    font-family: Arial, sans-serif;
  }
  
  .contact-title {
    font-size: 28px;
    margin-bottom: 20px;
  }
  
  .contact-content {
    margin-top: 20px;
  }
  
  .contact-text {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 20px;
  }
  
  .contact-details {
    display: flex;
    justify-content: space-between;
  }
  
  .contact-info,
  .contact-form {
    flex: 1;
  }
  
  .contact-info-title,
  .contact-form-title {
    font-size: 24px;
    margin-bottom: 10px;
  }
  
  .form-group {
    margin-bottom: 20px;
  }
  
  label {
    display: block;
    font-size: 16px;
    margin-bottom: 5px;
  }
  
  .contactUs input[type="text"],
  .contactUs input[type="email"],
  textarea {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 5px;
  }
  
  .submit-button {
    background-color:orangered;
    color: #fff;
    font-size: 18px;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
  }
  
  .submit-button:hover {
    background-color:green;
  }
  