/* Navbar styles */
.contactusnavbar {
    background-color: #333;
    color: #fff;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0px 20px;
    height: 70px;
  }
  
  .contactusnavbar-brand {
    font-size: 24px;
  }
  
  /* Navigation links styles */
  .contactusnav-links {
    list-style: none;
    display: flex;
    gap: 20px;
  }
  
  .contactusnav-links li {
    font-size: 18px;
  }
  
  .contactusnav-links a {
    text-decoration: none;
    color: #fff;
  }
  
  .contactusnav-links a:hover {
  color: red;
  }
  