.footer {
    background-color: #333;
    color: #fff;
    padding: 20px;
    margin-top:50px;
  }

  .footer-content {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    
  }

  .footer-links, .footer-social {
    flex: 1;

  }

  .footer-links h3, .footer-social h3 {
    font-size: 18px;
    margin-bottom: 10px;
  }

  .links-list {
    list-style: none;
    padding:0;
   
    
  }

  .links-list li {
    margin-bottom: 10px;
  }

  .links-list a {
    color: #fff;
    text-decoration: none;
  }

  .links-list a:hover {
    text-decoration: underline;
  }

  .social-icons {
    list-style: none;
    padding: 0;
  }

  .social-icons li {
    display: inline-block;
    margin-right: 10px;
  }

  .social-icons a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
  }

  .copyright {
    font-size: 14px;
    text-align: center;
    margin-top: 20px;
  }
  .footer-social
  {
   margin-left: 800px;
   margin-top: 50px;
  }
  .footer-links
  {
    margin-left: 20px;
    margin-top: 30px;
  }