@import url("https://fonts.googleapis.com/css2?family=Croissant+One&family=Poppins:wght@600&display=swap");

/* Sliding Image Container */
.sliding-image-container {
  position: relative;
  max-width: 100%; /* Adjust to fit the viewport width */
  height: 450px; /* Adjust the height as needed */
  overflow: hidden;
}

.slide {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  opacity: 0;
  transition: opacity 1s ease-in-out; /* Adjust the transition duration as needed */
}

.slide.active {
  opacity: 1;
}

/* Center the centered text container */
.centered-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  margin-top: 100px;
}

.span-text {
  font-size: 35px;
  font-weight: bold;
  /* font-family: 'Poppins', sans-serif; */
  color: #ff5722;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.9);
}

.centered-text h1 {
  font-size: 30px;
  /* font-family: 'Poppins', sans-serif; */
  color: #fff;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.5);
  font-size: larger;
}

.welcomenote {
  display: flex;
  max-width: 100%; /* Adjust as needed */
  height: 400px; /* Adjust the height as needed */
  overflow: hidden;
  margin-top: 40px;
}

.half {
  flex: 1;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: left;
}

/* Style the left half */
.half:nth-child(1) {
  background-image: url("../images/pic1jpeg.jpeg"); /* Add your left image */
  background-size: cover;
  height: 370px;
  max-width: 45%;
  margin-right: 2%;
}

/* Style the right half */
.half:nth-child(2) {
  background-size: cover;
  height: 370px;
  max-width: 55%;
}
.stylefont {
  margin-top: 0px;
  font-family: "Croissant One", cursive;
}
.event1 {
  background-size: cover;
  height: 300px;
  max-width: 100%;
  background-image: url("https://cdn.australiancruisegroup.com.au/images/giftvoucher/gift-voucher-banner.webp");
}

.event3,
.event4,
.event2 {
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 0.1px solid black;
  margin-top: 2%;
}

img {
  object-fit: cover;
}

.black-line {
  border-bottom: 1px solid rgb(108, 102, 102);
  margin-top: 5px; /* Adjust as needed to control spacing */
}
.f1,
.f2,
.f3 {
  font-size: small;
  font-family: "Croissant One", cursive;
  margin-bottom: 60px;
}
.x,
.y,
.z {
  margin-bottom: 20px;
  color: rgb(70, 193, 193);
}

.destination {
  max-width: 100%;
  background-image: url("https://image.kesari.in/upload/assets/images/gift-voucher.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  height: 450px;
  border-bottom: 1px solid black;
  margin-top: 3%;
}
.partners {
  width: 100%;
  background-image: url("../images/partners.png");
  height: 170px;
  border-bottom: 1px solid black;
  margin-top: -2%;
}
.poppins {
  font-size: 35px;
  font-weight: bold;
  font-family: "Poppins", sans-serif;
  color: White;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 15);
  text-align: center;
  margin-top: 350px;
}
.exclamatory {
  color: red;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 15);
}

.redd {
  color: red;
}
.poppinns {
  color: rgb(70, 193, 193);
  margin-left: 500px;
}
.span-text {
  color: red;
}
.moveleft {
  margin-left: 10px;
}
.weddingbutton,
.musicbutton,
.birthdaybutton {
  background-color: orangered;
}

.wedd {
  width: 650px;
  height: 400px;
}

.imggg {
  background-repeat: no-repeat;
  background-size: cover;
  width: 650px;
  height: 400px;
}

.styleee{
  width: 550px ;
  height: 400px;
}
