.golden-package {
    max-width: 100%;
    margin: 20px;
    font-family: Arial, sans-serif;
    background-color: #f7f7f7;
  }
  
  .package-title {
    text-align: center;
    color: #333;
  }
  
  .golden-image {
    display: block;
    margin: 20px auto;
    max-width: 50%;
    height: 300px;
  }
  
  .section-title {
    color: #333;
    margin-left: 30px;
  }
  
  .package-description,
  .package-includes,
  .cakes-section {
    margin-bottom: 20px;
  }
  
  .package-includes {
    border-top: 2px solid #333;
    border-bottom: 2px solid #333;
    padding: 20px 0;
  }
  
  .includes-list {
    list-style-type: disc;
    margin-left: 60px;
    margin-top: 20px;
    
  
  }
  
  .games-list {
    list-style-type: circle;
    margin-left: 20px;
  }
  
  .cakes-images {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
     gap: 5px;
    
  }
  
  .cake-imageg {
    position: relative;
  }
  
  .cake-img {
    max-width: 50%;
    height: 250px;
    width: 400px;
    margin-top: 20px;
    transition: transform 0.3s ease-in-out;
  }
  
  .cake-text {
     position: absolute;
    top: 70%;
    left: 25%;
    transform: translate(-50%, -50%);
    color:white;
    opacity: 0;
    transition: opacity 0.3s ease-in-out;
    
  }
  
  .cake-imageg:hover .cake-img {
    transform: scale(1.1);
  }
  
  .cake-imageg:hover .cake-text {
    opacity: 1;
  }
  
  .giju {
    border-radius: 5px;
    margin-left: 30px;
    color: white;
    background-color: orangered;
    border-color: transparent;
  }
  .giju:hover{
    background-color: green;
  }
  .cake-imageg:nth-child(1):hover .cake-text {
    padding: 15px 49px; /* Adjust the padding as needed */
    background: rgba(0, 0, 0, 0.5);
  }
  .cake-imageg:nth-child(2):hover .cake-text {
    padding: 15px 55px; /* Adjust the padding as needed */
    background: rgba(0, 0, 0, 0.5);
  }
  .cake-imageg:nth-child(3):hover .cake-text {
    padding: 15px 67px; /* Adjust the padding as needed */
    background: rgba(0, 0, 0, 0.5);
  }
  .cake-imageg:nth-child(4):hover .cake-text {
    padding: 15px 51px; /* Adjust the padding as needed */
    background: rgba(0, 0, 0, 0.5);
  }
  .cake-imageg:nth-child(5):hover .cake-text {
    padding: 15px 70px; /* Adjust the padding as needed */
    background: rgba(0, 0, 0, 0.5);
  }
  .cake-imageg:nth-child(6):hover .cake-text {
    padding: 15px 60px; 
    background: rgba(0, 0, 0, 0.5);
  }
  .zoro
  {
    margin-left: 60px;
    margin-top: 20px;
  }
  .tamount
  {
    margin-left: 30px;
  }
  .bitto,.kitto
  {
    margin-left: 30px;
    margin-top: 30px;
  }
  .hhii
  {
    color: red;
  }
  .mmi
  {
    color: red;
  }