::-webkit-scrollbar {
  width: 7px;
  height: 7px;
}

::-webkit-scrollbar-button {
  width: 0px;
  height: 0px;
}

::-webkit-scrollbar-thumb {
  background: #e1e1e1;
  border: 0px none #ffffff;
  border-radius: 0px;
}

::-webkit-scrollbar-track {
  background: #666666;
  border: 0px none #ffffff;
  border-radius: 0px;
}

::-webkit-scrollbar-corner {
  background: transparent;
}

:root {
  --nav-width: 15rem;
  --gutter: 1rem;
}

::-webkit-scrollbar-thumb:hover {
  background: #ffffff;
}

::-webkit-scrollbar-thumb:active {
  background: #000000;
}

::-webkit-scrollbar-track:hover {
  background: #666666;
}

::-webkit-scrollbar-track:active {
  background: #333333;
}

/* body,
html {
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: Arial, Helvetica, sans-serif;
} */

#side-nav {
  position: fixed;
  top: 0;
  height: 100%;
  min-width: var(--nav-width);
  left: calc(var(--nav-width) * -1);
  background-color: #9a9a9a;
  color: #20262e;
  margin: 0;
  transition: left ease 0.25s;
  -webkit-transition: left ease 0.25s;
}

#side-nav.open {
  left: 0;
}

#side-nav ul {
  max-height: 100%;
  list-style-type: none;
  padding: 0;
  margin: 0;
  overflow: hidden;
}

#side-nav.open ul {
  overflow-y: auto;
  overflow-x: hidden;
}

#side-nav ul li {
  display: block;
  position: relative;
  padding: var(--gutter);
  text-transform: uppercase;
}

#side-nav ul li::after {
  position: absolute;
  width: var(--nav-width);
  height: 100%;
  content: "";
  top: 0;
  left: calc(calc(var(--nav-width) + var(--gutter)) * -1);
  background-color: #000;
  opacity: 0.25;
  color: #9a9a9a;
  transition: left 0.25s;
  -webkit-transition: left 0.25s;
}

#side-nav ul li:hover {
  cursor: pointer;
}

#side-nav ul li:hover::after {
  left: 0;
}

#side-nav ul li a {
  text-decoration: none;
  color: inherit;
}

/** submenu drill-downs */

#side-nav ul li.sub-menu-link {
  text-transform: uppercase !important;
}

#side-nav ul li.sub-menu-link::before {
  font-family: "Material Icons";
  content: "\E313";
  height: 20px;
  width: 20px;
  display: block;
  position: absolute;
  top: 25%;
  right: 10px;
}

#side-nav ul li.sub-menu-link:hover::before {
  animation-duration: 1s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
  animation-name: bounce-down;
  animation-iteration-count: infinite;
}

#side-nav ul li.sub-menu-link.active::before {
  transform: rotate(180deg);
  margin-right: 4px;
}

#side-nav ul li.sub-menu-link.active:hover::before {
  animation-duration: 1s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
  animation-name: bounce-up;
  animation-iteration-count: infinite;
}

#side-nav ul.side-nav-sub-menu {
  overflow-y: hidden;
  padding-left: 1rem;
  max-height: 0;
  transition: max-height ease 0.25s;
  -webkit-transition: max-height ease 0.25s;
}

#side-nav ul.side-nav-sub-menu.active {
  max-height: 25rem;
  transition: max-height ease 0.5s;
  -webkit-transition: max-height ease 0.5s;
}

#side-nav ul.side-nav-sub-menu li {
  text-transform: lowercase;
  font-size: 85%;
  letter-spacing: 2px;
}

#side-nav ul.side-nav-sub-menu li:hover::after {
  left: -1rem;
}

#side-nav span#show-nav {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  top: 0;
  left: 100%;
}

#side-nav span#show-nav.open {
  transform: rotate(180deg);
}

#side-nav span#show-nav:hover {
  cursor: pointer;
}

#side-nav span#show-nav:hover i {
  cursor: pointer;
  animation-duration: 1s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
  animation-name: bounce-right;
  animation-iteration-count: infinite;
}

#side-nav span#show-nav.open:hover i {
  cursor: pointer;
  animation-duration: 1s;
  transition-timing-function: ease-in;
  animation-fill-mode: both;
  animation-name: bounce-left;
  animation-iteration-count: infinite;
}

#container {
  padding: 0.5rem;
}

#container.nav-open {
  margin-left: var(--nav-width);
}

#container.card-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: calc(100% - var(--gutter));
  width: calc(100% - var(--gutter));
  overflow-x: auto;
}

div.card {
  margin-bottom: 1rem;
  padding: 1rem;
  width: 80%;
  max-width: 1024px;
  min-width: 512px;
  background-color: #4b4ead;
  color: white;
  -webkit-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.5);
  -moz-box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.5);
  box-shadow: 0px 0px 20px 2px rgba(0, 0, 0, 0.5);
}

/* animation stuff */
@keyframes bounce-right {
  0% {
    transform: translate3d(0, 0, 0);
  }

  50% {
    transform: translate3d(25%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounce-left {
  0% {
    transform: translate3d(0, 0, 0);
  }

  50% {
    transform: translate3d(25%, 0, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

@keyframes bounce-up {
  0% {
    transform: rotate(180deg) translate3d(0, 0, 0);
  }

  50% {
    transform: rotate(180deg) translate3d(0, 25%, 0);
  }

  100% {
    transform: rotate(180deg) translate3d(0, 0, 0);
  }
}

@keyframes bounce-down {
  0% {
    transform: translate3d(0, 0, 0);
  }

  50% {
    transform: translate3d(0, 25%, 0);
  }

  100% {
    transform: translate3d(0, 0, 0);
  }
}

.welcome{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.rrd{
    text-decoration: none;
    color: black;
}